@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #15a3ef;

  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* //////////////nave bar  */
.navbar {
  position: static;
}

/* ===== Sidebar ===== */
.sidebar {
  position: static;
  top: 99px;
  left: 0;
  width: 250px;
  padding: 28px 14px;
  background: white;
  transition: var(--tran-05);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.721) 0px 1px 3px -1px;
  z-index: 100;
}

.close {
  float: left;
  opacity: 99;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 62px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar aside .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;

  font-size: 26px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar aside {
  position: relative;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}

.sidebar aside .image-text {
  display: flex;
  align-items: center;
}

.sidebar aside .logo-text {
  display: flex;
  flex-direction: column;
}

aside .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

aside .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar aside .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar aside .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar aside .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar aside .toggle {
  color: var(--text-color);
}

.main {
  display: flex;
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li:hover {
  background-color: #15a3ef49;
  width: 100%;
  border-radius: 14px;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: #15a3ef;
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

/* ===================================== Board ===================================== */
.Board-centered {
  padding: 40px;
  overflow: auto;
  width: 100%;
  top: 120px;
  height: 100vh;
  margin: 0;
}

.shiftedText {
  color: #6c6c6c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BoldText {
  color: #172b4d;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-input {
  width: 200px;
  height: 48px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
  outline: none;
  margin: 0px;
  padding-left: 30px;
}

.search-input-container {
  position: relative;
  margin: 0px;
  width: 200px;
}

.search-icon {
  position: absolute;
  left: 88%;
  top: 50%;
  margin-top: -10px;
  color: #777;
}

.search-bar {
  width: 200px;
  margin: 0px;
}

.profiles {
  display: flex;
}

.c1 {
  background-color: #15a3ef;
}

.c2 {
  background-color: purple;
}

.ProfileSercle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c6c6c;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 5px;
}

.ProfileSercle .shiftedText {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
}

.searchBarAndProfiles {
  display: flex;
  gap: 5px;
}

.Board-centered-top {
  display: flex;
  justify-content: space-between;
}

.Board-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  background: #efefef;
  width: 161px;
  height: 45px;
  flex-shrink: 0;
}

.Board-settings p {
  display: flex;
  justify-content: center;

  color: #a3a1a1;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0px;
}

.icon {
  color: #a3a1a1;
}
/* ______________ */
/* .sprint-part-2 > span {
  width: 30px;
  height: 30px;
}

.border-2 {
  display: flex;
  padding: 18px;
  margin: 0;
  width: 140px;
  height: 40px;
  background-color: rgb(0 0 0 / 5%);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.sprint {
  margin-left: 0;
  align-items: center;
  background-color: #f8f8f8;
  padding: 12px;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#pen {
  display: none;
}

.sprint:hover #pen {
  display: inline;
}
.btn-group {
  visibility: hidden;
}
.sprint:hover .btn-group {
  visibility: visible;
}

.baclog-part {
  align-items: center;
  flex-wrap: nowrap;

  justify-content: space-between;
}
.baclog-part2-2 > span {
  width: 30px;
  height: 30px;
}

.baclog-part1 {
  width: 50%;
}
.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid rgba(0, 0, 0, 0.155) 2px;
  margin-top: 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: move;
  border: rgba(0, 0, 0, 0.144) solid 1px;
  border-radius: 5px;
  width: 100%;
  margin-top: 22px;
}

.para {
  display: none;
}
#paragra {
  border: solid 2px rgb(0 0 0 / 5%);
  border-radius: 5px;

  padding: 10px;
  color: rgba(0, 0, 0, 0.425);
  margin-top: 12px;
}
#inputValu {
  width: 100%;
  border-radius: 5px;
}
#plus {
  width: 100%;
  border-radius: 5px;
}

#exampleModal {
  position: absolute;
  right: 0;
}
/* style the modal */

/*#myElement {
  gap: 10px;
  align-items: center;
} */
.sprint-part-2 > span,
.baclog-part2-2 > span {
  width: 30px;
  height: 30px;
}

.border-2 {
  display: flex;
  padding: 18px;
  margin: 0;
  width: 140px;
  height: 40px;
  background-color: rgba(0, 0, 0, 5%);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.sprint {
  margin-left: 0;
  align-items: center;
  background-color: #f8f8f8;
  padding: 12px;
  flex-wrap: nowrap;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#pen {
  display: none;
}

.sprint:hover #pen {
  display: inline;
}

.baclog-part {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.baclog-part1,
.item {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid rgba(0, 0, 0, 0.155) 2px;
  margin-top: 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: move;
  border: rgba(0, 0, 0, 0.144) solid 1px;
  border-radius: 5px;
  margin-top: 22px;
}

#inputValu,
#plus {
  width: 100%;
  border-radius: 5px;
}

#exampleModal {
  position: absolute;
  right: 0;
}

#myElement {
  gap: 10px;
  align-items: center;
}

/* Additional styles for specific elements or IDs can be added below */
